extends layout

block content
  p Welcome to the foodApp
  img.className#IdName(src="public/img/"+photoFilePath alt="Hamburger")
  each label in Labels
    p #{label.description}    #{label.score}
  button(type="button" onclick='getLabels()') Label


